.error {
    color: red;
}

.container {
    padding: 0px;
    margin: 0px;
}

.after-side-content {
    margin-left: 220px !important;
}

@media(min-width: 992px) {
    .container {
        padding: 0px !important ;
        margin: 0px !important ;
        max-width: initial !important;
    }
}